.TripLocationList{
    margin-right:16px;
    .item{
        margin-bottom:8px;
     .view-button{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
     }
    
    }
    .material-icons{
        padding:0 8px;
    }
}