$buttonSize: 100px;
.Dashboard{
    .navigation{
        max-width:200px;
        margin-right:24px;
        a{
            width:$buttonSize;
            height:$buttonSize;
            border-radius:0;
        }
        a:last-child, a:nth-last-child(2){
            border-bottom:none;
        }
        a:first-child, a:nth-child(2), a:nth-child(3){
            border-top:none;
        }

    }
    
}